h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

.descartadas {
  padding-left: 600px;
}

.casa5 {
  width: 750px;
  height: 300px;
  font-size: 50px;
}

.casa10 {
  width: 750px;
  height: 300px;
  font-size: 45px;
}

.casa12 {
  width: 750px;
  height: 300px;
  font-size: 50px;
}

.casa15 {
  width: 750px;
  height: 300px;
  font-size: 50px;
}

.casa18 {
  width: 750px;
  height: 300px;
  font-size: 50px;
}

.casa24 {
  width: 750px;
  height: 300px;
  font-size: 50px;
}

.casa26 {
  width: 800px;
  height: 300px;
  font-size: 40px;
}
